body {
  background-color: #2B3856;
  margin: 0px;
}
.header{
  background-color:#00ffff;
  text-align:center;
}
.instruction-title{
  display:inline;
  font-size:18px;
  color:#00ffff;
  font-family:'Work Sans';
}
.title-row{
  margin-top :42px;
margin-bottom : 21px;
text-align : center;
}
.instructions-row{
  margin:0 auto;
  width:400px;
}
.instructions-number{
  padding-right:25px;
  font-family:'Work Sans';
  font-size:32px;
  color:#00ffff;
}
.instructions-text{
  padding:10px;
  font-family:'Work Sans';
  font-size:14px;
  color:#ffffff;
}
.door-frame{
  cursor:pointer;
  border:1px solid red;
}
.door-row{
  text-align:center;
}
.start-row{
  margin : auto;
width : 120px;
height : 100px;
font-family : Work Sans;
background-color :#eb6536;
padding-top : 18px;
font-size : 18px;
text-align : center;
color : #010165;
margin-bottom : 21px;
cursor : pointer;
  border-radius:50%;
}
